@import '../../uikit/styles/sass/theme/variables';

.uk-service-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  margin-top: 24px;

  @media (min-width: $breakpoint-small) {
    gap: 16px;
  }

  @media (min-width: $breakpoint-medium) {
    margin-top: 48px;
  }

  & > li:not(:last-child) > .uk-box {
    @media (max-width: $breakpoint-small-max) {
      border-bottom-width: 0;
    }
  }

  .uk-box {
    @media (max-width: $breakpoint-small-max) {
      padding-left: 0;
      padding-right: 0;
      border-radius: 0;
      border-left-width: 0;
      border-right-width: 0;
    }
  }
}

.uk-support-tender-list {
  padding: 0;
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  column-gap: 64px;
  row-gap: 8px;
  grid-auto-flow: column;

  @media (min-width: $breakpoint-medium) {
    row-gap: 24px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 1fr;
  }
}

.uk-support-tender-list > li {
  display: flex;
  gap: 16px;

  @media (min-width: $breakpoint-medium) {
    gap: 32px;

    &:nth-child(2) {
      grid-row: span 2;
    }
  }

  & > p {
    margin: 0;
    font-size: 18px;
    line-height: 30px;
  }
}

.uk-registration-eis-map {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  & .uk-box {
    display: flex;
    gap: 32px;

    @media (max-width: $breakpoint-small-max) {
      padding: 0;
      border: 0;
      gap: 16px;
    }

    & .uk-icon {
      align-self: center;
    }
  }
}