@import '../../uikit/styles/sass/theme/variables';

.uk-service-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  margin-top: 24px;

  @media (min-width: $breakpoint-small) {
    gap: 16px;
  }

  @media (min-width: $breakpoint-medium) {
    margin-top: 48px;
  }

  & > li:not(:last-child) > .uk-box {
    @media (max-width: $breakpoint-small-max) {
      border-bottom-width: 0;
    }
  }

  .uk-box {
    @media (max-width: $breakpoint-small-max) {
      padding-left: 0;
      padding-right: 0;
      border-radius: 0;
      border-left-width: 0;
      border-right-width: 0;
    }
  }
}

.uk-insurance-events-list {
  border-width: 32px;
  border-color: var(--color-mystic-40);

  @media (max-width: $breakpoint-small-max) {
    border-radius: 0;
    border-width: 16px;
    border-left-width: 0;
    border-right-width: 0;
    margin-left: -24px;
    margin-right: -24px;
  }
}

.uk-insurance-events-info {
  border-color: var(--color-mystic-40);

  @media (max-width: $breakpoint-small-max) {
    border-radius: 0;
    margin-top: -32px;
    margin-left: -24px;
    margin-right: -24px;
  }

  @media (min-width: $breakpoint-large) {
    width: 390px;
  }
}

.uk-insurance-step-list {
  & > :not(:last-child) {
    .uk-insurance-step {
      @media (min-width: $breakpoint-medium) {
        text-align: center;
        padding: 32px;

        & > ::before {
          content: '';
          width: 24px;
          height: 24px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23009DDB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 12h14M12 19l7-7-7-7'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          right: -24px;
          top: 53px;
        }
      }
    }
  }
}

.uk-insurance-step {
  position: relative;

  @media (min-width: $breakpoint-medium) {
    text-align: center;
    padding: 32px;
  }
}

.uk-insurance-step-number {
  color: #fff;
  background-color: var(--color-astronaut-blue-500);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 9999px;

  @media (min-width: $breakpoint-medium) {
    width: 64px;
    height: 64px;
    font-size: 26px;
  }
}