.uk-box {
  position: relative;

  display: flow-root;

  box-sizing: border-box;
  padding: $global-small-margin;

  background-color: var(--color-white);
  border: 1px solid var(--color-mystic-300);
  border-radius: var(--border-radius);
}

@media (min-width: $breakpoint-small) {
  .uk-box {
    padding: $global-margin;
  }

  .uk-box-small {
    padding: $global-small-margin;
  }

  .uk-box-large {
    padding: $global-medium-margin;
  }

  .uk-box > :last-child {
    margin-bottom: 0;
  }

  .uk-box-96 {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}
