.uk-box {
  position: relative;

  display: block;

  box-sizing: border-box;

  background-color: var(--color-white);
  border: 1px solid var(--color-mystic-300);
  border-radius: var(--border-radius);
}

.uk-box-header {
  padding: $global-small-margin;
  border-bottom: 1px solid var(--color-mystic-300);
}

.uk-box.uk-accordion > :not(.uk-open) > .uk-box-header {
  border-bottom: 0;
}

.uk-box.uk-accordion .uk-box-header [uk-icon='dropdown-down'] {
  transition: transform 0.3s ease-out;
}

.uk-box.uk-accordion > .uk-open .uk-box-header [uk-icon='dropdown-down'] {
  transform: rotateX(180deg);
}

.uk-box-body {
  padding: $global-small-margin;
}

.uk-box-footer {
  padding: $global-small-margin;
  border-top: 1px solid var(--color-mystic-300);
}

.uk-box-header > :last-child,
.uk-box-body > :last-child,
.uk-box-footer > :last-child {
  margin-bottom: 0;
}

.uk-box + * {
  margin-top: 32px;
}

@media (min-width: $breakpoint-small) {
  .uk-box-header {
    padding: $global-margin;
  }

  .uk-box-body {
    padding: $global-margin;
  }

  .uk-box-header + .uk-box-body {
    padding: $global-margin;
  }

  .uk-box-footer {
    padding: $global-margin;
  }

  .uk-box-body + .uk-box-footer {
    padding: $global-margin;
  }

  .uk-box-16 .uk-box-body {
    padding: 16px;
  }

  .uk-box-32 .uk-box-body {
    padding: 32px;
  }

  .uk-box-96 .uk-box-body {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .uk-box > :last-child {
    margin-bottom: 0;
  }
}
