@mixin hook-form() {
  font-size: 16px;

  border: 1px solid var(--color-mystic-500);
  border-radius: 4px;

  transition: 0.2s ease-in-out;
  transition-property: color, background-color, border;
}

@mixin hook-form-focus() {
  border-color: var(--color-cerulean-500);
}

@mixin hook-form-disabled() {
  color: var(--color-mine-shaft-900);
  background-color: var(--color-mystic-300-a-30);
  border-color: var(--color-mystic-500);
}

@mixin hook-form-radio() {
  border: 1px solid var(--color-mystic-500);
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  transition-property: background-color, border;
}

@mixin hook-form-label() {
  display: inline-block;

  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-mine-shaft-900);
}

@mixin hook-form-danger() {
  border-color: var(--color-alarm-500) !important;
}

@mixin hook-form-success() {
  border-color: var(--color-success-500) !important;
}

@mixin hook-form-misc() {
  .uk-input-group {
    position: relative;

    display: flex;

    background-color: #fff;
    border: 1px solid var(--color-mystic-500);
    border-radius: 4px;

    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
  }

  .uk-input-group::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1px;
    height: calc(100% - 22px);

    background-color: var(--color-mystic-300);
  }

  .uk-input-group:focus-within {
    border-color: var(--color-cerulean-500);
  }

  .uk-input-group > .uk-input,
  .uk-input-group > .uk-input-box {
    background-color: transparent;
    border: none;
  }

  .uk-radio:checked,
  .uk-radio:checked:focus {
    background-color: #fff;
  }

  .uk-radio:disabled {
    background-color: var(--color-mystic-200);
  }

  .uk-radio:disabled:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' viewBox='0 0 12 12'%3E%3Ccircle cx='6' cy='6' r='6' fill='%2395ACBC'/%3E%3C/svg%3E");
  }

  .uk-checkbox:checked,
  .uk-checkbox:indeterminate,
  .uk-checkbox:checked:focus,
  .uk-checkbox:indeterminate:focus {
    background-color: var(--color-cerulean-500);
    border-color: var(--color-cerulean-500);
  }

  .uk-checkbox:disabled {
    background-color: var(--color-mystic-200);
  }

  .uk-checkbox:disabled:checked,
  .uk-checkbox:disabled:indeterminate {
    background-color: var(--color-bali-hai-200);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='11' fill='none' viewBox='0 0 15 11'%3E%3Cpath stroke='%23E3E9EF' stroke-linejoin='round' stroke-width='2' d='m1 6 4 4 9-9'/%3E%3C/svg%3E");
    border-color: var(--color-bali-hai-200);
  }

  .uk-input-small {
    height: 30px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 14px;
  }

  .uk-input-large {
    height: 64px;
    font-size: 18px;
  }

  .uk-checkbox {
    background-size: 11px 9px;
  }

  .uk-radio {
    background-size: 8px;
  }

  .uk-checkbox-large,
  .uk-radio-large {
    width: 24px;
    height: 24px;
  }

  .uk-checkbox-large {
    background-size: 15px 11px;
  }

  .uk-radio-large {
    background-size: 12px;
  }

  .uk-input-box {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 100%;
    padding: 11px 0;

    background-color: #fff;
    border: 1px solid var(--color-mystic-500);
    border-radius: 4px;

    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
  }

  .uk-input-box:focus-within {
    border-color: var(--color-cerulean-500);
  }

  .uk-input-box span {
    display: inline-block;

    padding: 0 16px;

    font-family: 'Exo 2', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
  }

  .uk-input-box .uk-input {
    height: 24px;
    background-color: transparent;
    border: none;
  }

  .uk-input-box.uk-form-disabled,
  .uk-input-group.uk-form-disabled {
    pointer-events: none;
    background-color: var(--color-mystic-300-a-30);
  }

  // Tumbler

  .uk-tumbler {
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
  }

  .uk-tumbler-button {
    position: relative;

    flex-shrink: 0;

    width: 28px;
    height: 16px;

    background-color: var(--color-mystic-500);
    border-radius: 36px;

    transition: background-color 100ms linear;

    -moz-user-focus: ignore;
  }

  .uk-tumbler-text {
    line-height: 16px;
  }

  .uk-tumbler-button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  .uk-tumbler-button::after {
    cursor: pointer;
    content: '';

    position: absolute;
    top: 2px;
    left: 2px;

    width: 12px;
    height: 12px;

    background-color: #fff;
    border-radius: 50px;

    transition: 100ms ease-out;
    transition-property: left, transform, margin, width;
  }

  .uk-tumbler input:checked ~ .uk-tumbler-button {
    background-color: var(--color-cerulean-500);
  }

  .uk-tumbler input:checked ~ .uk-tumbler-button::after {
    left: 100%;
    transform: translateX(-100%);
    margin-left: -2px;
  }

  .uk-tumbler-large .uk-tumbler-button {
    width: 56px;
    height: 32px;
    border-radius: 36px;
  }

  .uk-tumbler-large .uk-tumbler-button::after {
    top: 4px;
    left: 4px;
    width: 24px;
    height: 24px;
  }

  .uk-tumbler-large input:checked ~ .uk-tumbler-button::after {
    margin-left: -4px;
  }

  .uk-tumbler input:checked:disabled ~ .uk-tumbler-button {
    background-color: var(--color-bali-hai-200);
  }

  .uk-tumbler input:checked:disabled ~ .uk-tumbler-button::after {
    background-color: var(--color-mystic-200);
  }

  .uk-tumbler input:disabled ~ .uk-tumbler-button {
    background-color: var(--color-mystic-200);
  }

  .uk-tumbler input:disabled ~ .uk-tumbler-button::after {
    background-color: var(--color-mystic-50);
  }

  .uk-tumbler input:disabled ~ .uk-tumbler-button,
  .uk-tumbler input:disabled ~ .uk-tumbler-button::after,
  .uk-tumbler input:disabled ~ .uk-tumbler-label {
    cursor: default;
  }
}
