@mixin hook-grid-misc() {
  .uk-grid-xsmall,
  .uk-grid-column-xsmall {
    margin-left: -12px;
  }

  .uk-grid-xsmall > *,
  .uk-grid-column-xsmall > * {
    padding-left: 12px;
  }

  .uk-grid + .uk-grid-xsmall,
  .uk-grid + .uk-grid-row-xsmall,
  .uk-grid-xsmall > .uk-grid-margin,
  .uk-grid-row-xsmall > .uk-grid-margin,
  * + .uk-grid-margin-xsmall {
    margin-top: 12px;
  }

  .uk-grid-8,
  .uk-grid-column-8 {
    margin-left: -8px;
  }

  .uk-grid-8 > *,
  .uk-grid-column-8 > * {
    padding-left: 8px;
  }

  .uk-grid + .uk-grid-8,
  .uk-grid + .uk-grid-row-8,
  .uk-grid-8 > .uk-grid-margin,
  .uk-grid-row-8 > .uk-grid-margin,
  * + .uk-grid-margin-8 {
    margin-top: 8px;
  }

  // Point

  .uk-grid-point > * {
    position: relative;
    padding-left: 20px;
  }

  .uk-grid-point > :not(.uk-first-column)::before {
    content: '';

    position: absolute;
    top: 50%;
    bottom: 0;
    left: 8px;
    transform: translateY(-50%);

    width: 4px;
    height: 4px;

    background-color: var(--color-cerulean-500);
    border-radius: 500px;
  }

  .uk-grid-point {
    margin-left: -20px;
  }
}
