@mixin hook-navbar-nav-item() {
  font-weight: 700;
  white-space: nowrap;
}

@mixin hook-navbar-misc() {
  .uk-navbar-nav > li {
    padding-right: 32px;
  }

  .uk-navbar-nav > li > a {
    position: relative;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color, border-color, box-shadow;
  }

  .uk-navbar-nav > li > a:hover::before,
  .uk-navbar-nav > li > a[aria-expanded='true']::before {
    right: 0;
    left: 0;
    background-color: var(--color-cerulean-500);
  }

  .uk-navbar-nav > li > a::before {
    content: '';

    position: absolute;
    right: 50%;
    bottom: -1px;
    left: 50%;

    display: block;

    height: 4px;

    transition: 0.3s ease-in-out;
    transition-property: background-color, border-color, box-shadow, height, left, right, opacity;
  }

  .uk-navbar-nav > li.uk-active > a::before {
    right: 0;
    left: 0;
    background-color: var(--color-cerulean-500);
  }
}
