$text-primary-color: var(--color-cerulean-500);
$text-secondary-color: #000;
$text-success-color: var(--color-success-link);
$text-warning-color: var(--color-warning-link);
$text-danger-color: var(--color-alarm-500);
