<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../../styles/fabrikant-ui.min.css" />

    <script src="../../../js/uikit.min.js"></script>
    <script src="../../../js/uikit-icons-theme.min.js"></script>

    <title>Breadcrumb</title>
  </head>
  <body>
    <section class="uk-section">
      <div class="uk-container">
        <h1>Breadcrumb</h1>
        <p>
          Для breadcrumb используем тег <code>&#60;ul&#62;</code> с классом
          <code>.uk-breadcrumb</code>
        </p>

        <div class="uk-margin">
          <nav aria-label="Breadcrumb">
            <ul class="uk-breadcrumb">
              <li><a href="#">Главная</a></li>
              <li><a href="#">Закупки</a></li>
              <li><a href="#">Закупка №0198400003222000154</a></li>
              <li>
                <span>Сведения о закупке №0198400003222000154</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </body>
</html>
