<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../../styles/fabrikant-ui.min.css" />

    <script src="../../../js/uikit.min.js"></script>
    <script src="../../../js/uikit-icons-theme.min.js"></script>

    <title>Card</title>
  </head>
  <body>
    <section class="uk-section">
      <div class="uk-container">
        <h1>Card</h1>
        <p>Основной класс <code>.uk-card</code>.</p>
        <p><code>.uk-card-body</code> - добавляет внутренний отступ</p>
        <p>
          <code>.uk-card-default</code> - белый фон<br />
          <code>.uk-card-primary</code> - синий фон<br />
          <code>.uk-card-secondary</code> - черный фон
        </p>
        <p>
          <code>.uk-card-hover</code> - добавляет ховер (рамка)<br />
          <code>.uk-card-hover-box-shadow</code> - добавляет ховер (тень)
        </p>
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match uk-margin" uk-grid>
          <div>
            <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title uk-margin-8">Открыть спецсчет</h3>
              <p class="uk-margin-8">
                Поможем пройти все шаги по регистрации в едином реестре участников закупок (ЕРУЗ) на
                портале zakupki.gov.ru
              </p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
              <h3 class="uk-card-title uk-margin-8">Открыть спецсчет</h3>
              <p class="uk-margin-8">
                Поможем пройти все шаги по регистрации в едином реестре участников закупок (ЕРУЗ) на
                портале zakupki.gov.ru
              </p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-hover-box-shadow uk-card-body">
              <h3 class="uk-card-title uk-margin-8">Открыть спецсчет</h3>
              <p class="uk-margin-8">
                Поможем пройти все шаги по регистрации в едином реестре участников закупок (ЕРУЗ) на
                портале zakupki.gov.ru
              </p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-primary uk-card-body">
              <h3 class="uk-card-title uk-margin-8">Открыть спецсчет</h3>
              <p class="uk-margin-8">
                Поможем пройти все шаги по регистрации в едином реестре участников закупок (ЕРУЗ) на
                портале zakupki.gov.ru
              </p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-secondary uk-card-body">
              <h3 class="uk-card-title uk-margin-8">Открыть спецсчет</h3>
              <p class="uk-margin-8">
                Поможем пройти все шаги по регистрации в едином реестре участников закупок (ЕРУЗ) на
                портале zakupki.gov.ru
              </p>
            </div>
          </div>
        </div>
        <hr class="uk-margin-large" />
        <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match uk-margin" uk-grid>
          <div>
            <div class="uk-card uk-card-default uk-card-body">
              <div class="uk-grid-medium" uk-grid>
                <div class="uk-width-auto@m">
                  <img
                    src="./img/special-account.svg"
                    width="64"
                    height="64"
                    alt="Открыть спецсчет"
                  />
                </div>
                <div class="uk-width-expand@m">
                  <h3 class="uk-card-title uk-margin-8">Открыть спецсчет</h3>
                  <p class="uk-margin-8">
                    Поможем пройти все шаги по регистрации в едином реестре участников закупок
                    (ЕРУЗ) на портале zakupki.gov.ru
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <a class="uk-card uk-card-default uk-card-hover uk-card-body">
              <div class="uk-grid-medium" uk-grid>
                <div class="uk-width-expand@m">
                  <h3 class="uk-card-title uk-margin-8">Открыть спецсчет</h3>
                  <p class="uk-margin-8">
                    Поможем пройти все шаги по регистрации в едином реестре участников закупок
                    (ЕРУЗ) на портале zakupki.gov.ru
                  </p>
                </div>
                <div class="uk-width-auto@m">
                  <img
                    src="./img/special-account.svg"
                    width="64"
                    height="64"
                    alt="Открыть спецсчет"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
