<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../../styles/fabrikant-ui.min.css" />

    <script src="../../../js/uikit.min.js"></script>
    <script src="../../../js/uikit-icons-theme.min.js"></script>

    <title>Button</title>
  </head>
  <body>
    <section class="uk-section">
      <div class="uk-container">
        <h1>Button</h1>
        <p uk-margin>
          <button class="uk-button uk-button-default">Default</button>
          <button class="uk-button uk-button-primary">Primary</button>
          <button class="uk-button uk-button-secondary">Secondary</button>
          <button class="uk-button uk-button-danger">Danger</button>
          <button class="uk-button uk-button-text">Text</button>
          <button class="uk-button uk-button-link">Link</button>
        </p>
        <p uk-margin>
          <button class="uk-button uk-button-default" disabled>Default disabled</button>
          <button class="uk-button uk-button-primary" disabled>Primary disabled</button>
        </p>
        <h2>Size modifiers</h2>
        <p uk-margin>
          <button class="uk-button uk-button-default uk-button-small">Small default</button>
          <button class="uk-button uk-button-primary uk-button-small">Small primary</button>
          <button class="uk-button uk-button-secondary uk-button-small">Small secondary</button>
        </p>
        <p uk-margin>
          <button class="uk-button uk-button-default uk-button-large">Large default</button>
          <button class="uk-button uk-button-primary uk-button-large">Large primary</button>
          <button class="uk-button uk-button-secondary uk-button-large">Large secondary</button>
        </p>
        <h2>Button with icon</h2>
        <p uk-margin>
          <button class="uk-button uk-button-default">
            <span uk-icon="print" class="uk-margin-8-right"></span>Default
          </button>
          <button class="uk-button uk-button-primary">
            <span uk-icon="print" class="uk-margin-8-right"></span>Primary
          </button>
          <button class="uk-button uk-button-secondary">
            <span uk-icon="print" class="uk-margin-8-right"></span>Secondary
          </button>
        </p>
        <p uk-margin>
          <button class="uk-button uk-button-default uk-button-small">
            <span uk-icon="print" class="uk-icon-size-16 uk-margin-8-right"></span>Small default
          </button>
          <button class="uk-button uk-button-primary uk-button-small">
            <span uk-icon="print" class="uk-icon-size-16 uk-margin-8-right"></span>Small primary
          </button>
          <button class="uk-button uk-button-secondary uk-button-small">
            <span uk-icon="print" class="uk-icon-size-16 uk-margin-8-right"></span>Small secondary
          </button>
        </p>
      </div>
    </section>
  </body>
</html>
