<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../../styles/uikit.min.css" />
    <link rel="stylesheet" href="./sticky-bar.css" />

    <script src="../../js/uikit.min.js"></script>
    <script src="../../js/uikit-icons.min.js"></script>

    <title>Sticky Bar</title>
  </head>
  <body>
    <section class="uk-section">
      <div class="uk-container uk-container-expand">
        <h1>Sticky Bar</h1>
        <p uk-margin>
          <a
            class="uk-button uk-button-secondary uk-button-small"
            href="https://github.com/alekseykurylev/fabrikant-ui/tree/main/src/components/sticky-bar"
            target="_blank">
            <span class="uk-text-secondary" uk-icon="github"></span>
          </a>
          <a
            class="uk-button uk-button-secondary uk-button-small"
            href="https://www.figma.com/file/U7UjOE6T9IhuVVjgKIemh1/Fabrikant.NewLK?type=design&node-id=10553-89878&t=ue2eUBpnbUVa25YI-4"
            target="_blank">
            <span class="uk-preserve" uk-icon="figma"></span>
          </a>
        </p>
      </div>
    </section>

    <div class="uk-margin">
      <div class="uk-container uk-container-expand">
        <div class="uk-flex uk-flex-center uk-flex-middle" style="background-color: antiquewhite; height: 150vh">
          😎
        </div>
      </div>
    </div>

    <!-- This is the Sticky Bar -->
    <div class="uk-sticky-bar-container uk-margin-medium">
      <div class="uk-sticky-bar">
        <div class="uk-container uk-container-expand">
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand">
              <div class="uk-grid-small uk-child-width-auto" uk-grid>
                <div>
                  <button class="uk-button uk-button-medium uk-button-icon uk-button-default">
                    <span uk-icon="arrow-left"></span>
                  </button>
                </div>
                <div>
                  <button class="uk-button uk-button-medium uk-button-default" type="button">
                    Реестр запросов разъяснений
                  </button>
                </div>
                <div>
                  <button class="uk-button uk-button-medium uk-button-default" type="button">Реестр контрактов</button>
                </div>
                <div>
                  <button class="uk-button uk-button-medium uk-button-default" type="button">Посмотреть заявку</button>
                </div>
                <div>
                  <button class="uk-button uk-button-medium uk-button-primary" type="button">
                    Запрос разъяснений положения извещения
                  </button>
                </div>
                <div>
                  <button class="uk-button uk-button-medium uk-button-primary" type="button">Отозвать заявку</button>
                </div>
              </div>
            </div>
            <div class="uk-width-auto">
              <div class="uk-grid-small uk-child-width-auto" uk-grid>
                <div>
                  <button class="uk-button uk-button-medium uk-button-icon uk-button-default">
                    <span uk-icon="arrow-up"></span>
                  </button>
                </div>
                <div>
                  <button class="uk-button uk-button-medium uk-button-icon uk-button-default">
                    <span uk-icon="arrow-down"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="uk-container uk-container-expand">
        <div class="uk-flex uk-flex-center uk-flex-middle" style="background-color: antiquewhite; height: 30vh">😎</div>
      </div>
    </footer>

    <script src="./sticky-bar.js"></script>
  </body>
</html>
