.uk-sticky-bar {
  padding: 16px 0;
}

.uk-sticky-bar.uk-position-fixed {
  z-index: 980;
  bottom: 0;

  width: 100%;

  background: var(--color-mystic-40);
  border-top: 1px solid var(--color-mystic-200);
  box-shadow: 0 -13px 16px rgb(160 182 182 / 10%);
}
