.uk-timeline {
  /* scrollbar-width: none; */

  overflow: auto;
  display: flex;
  align-items: flex-end;

  margin: 0;
  padding: 0;

  list-style: none;

  /* -ms-overflow-style: none; */
}

/* .uk-timeline::-webkit-scrollbar {
  display: none;
} */

.uk-timeline-container {
  position: relative;
}

.uk-timeline > li {
  position: relative;

  flex: 1;

  min-width: 143px;

  font-size: 12px;
  line-height: 16px;
}

.uk-timeline > li > p {
  margin: 0;
  padding-right: 24px;
}

.uk-timeline > li > div {
  position: relative;

  height: 4px;
  margin-top: 28px;
  margin-bottom: 26px;

  background-color: var(--color-mystic-500);
}

.uk-timeline > li > div::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  width: 8px;
  height: 8px;

  background-color: var(--color-mystic-500);
  border-radius: 500px;
}

.uk-timeline > .uk-timeline-active > div,
.uk-timeline > .uk-timeline-active > div::before {
  background-color: var(--color-cerulean-500);
}

.uk-timeline > .uk-timeline-today > p {
  font-weight: 700;
}

.uk-left-overlap::before,
.uk-right-overlap::after {
  position: absolute;
  z-index: 1;
  top: 0;

  width: 48px;
  height: 100%;
}

.uk-left-overlap::before {
  content: '';
  left: 0;
  background-image: linear-gradient(90deg, #fff, hsl(0deg 0% 100% / 0%));
}

.uk-right-overlap::after {
  content: '';
  right: 0;
  background-image: linear-gradient(90deg, hsl(0deg 0% 100% / 0%), #fff);
}
