<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../../styles/uikit.min.css" />
    <link rel="stylesheet" href="./timeline.css" />

    <script src="../../js/uikit.min.js"></script>
    <script src="../../js/uikit-icons.min.js"></script>

    <title>Timeline</title>
  </head>
  <body>
    <section class="uk-section">
      <div class="uk-container uk-container-expand">
        <h1>Timeline</h1>
        <p uk-margin>
          <a
            class="uk-button uk-button-secondary uk-button-small"
            href="https://github.com/alekseykurylev/fabrikant-ui/tree/release/src/components/timeline"
            target="_blank">
            <span class="uk-text-secondary" uk-icon="github"></span>
          </a>
          <a
            class="uk-button uk-button-secondary uk-button-small"
            href="https://www.figma.com/file/U7UjOE6T9IhuVVjgKIemh1/Fabrikant.NewLK?type=design&node-id=5740-48818&t=PaFZoorpnhqyagnW-4"
            target="_blank">
            <span class="uk-preserve" uk-icon="figma"></span>
          </a>
        </p>
      </div>
    </section>

    <section>
      <div class="uk-container uk-container-expand">
        <div class="uk-grid-small" uk-grid>
          <div class="uk-width-expand">
            <section class="uk-box">
              <div class="uk-box-body">
                <h2>Этапы процедуры</h2>

                <!-- This is the Timeline -->
                <div class="uk-timeline-container">
                  <ul class="uk-timeline">
                    <li class="uk-timeline-active">
                      <p>Публикации извещения</p>
                      <div></div>
                      <span>14.06.2022</span>
                    </li>
                    <li class="uk-timeline-active uk-timeline-today" data-days="10" data-episode="1">
                      <p>Прием заявок</p>
                      <div></div>
                      <span>14.06.2022</span>
                    </li>
                    <li>
                      <p>Рассмотрение и оценка первых частей заявок</p>
                      <div></div>
                      <span>14.07.2022</span>
                    </li>
                    <li>
                      <p>Ожидание подачи ценовых предложений</p>
                      <div></div>
                      <span>24.06.2022</span>
                    </li>
                    <li>
                      <p>Прием ценовых предложений</p>
                      <div></div>
                      <span>24.06.2022</span>
                    </li>
                    <li>
                      <p>Рассмотрение и оценка вторых частей заявок</p>
                      <div></div>
                      <span>27.07.2022</span>
                    </li>
                    <li>
                      <p>Подведения итогов</p>
                      <div></div>
                      <span>14.06.2022</span>
                    </li>
                    <li>
                      <p>Заключение контракта</p>
                      <div></div>
                      <span>14.06.2022</span>
                    </li>
                  </ul>
                </div>

                <br />
                <br />
                <br />
                <br />
                <br />

                <!-- This is the Timeline -->
                <div class="uk-timeline-container">
                  <ul class="uk-timeline">
                    <li class="uk-timeline-active">
                      <p>Публикации извещения</p>
                      <div></div>
                      <span>14.06.2022</span>
                    </li>
                    <li class="uk-timeline-active uk-timeline-today" data-days="10" data-episode="1">
                      <p>Прием заявок</p>
                      <div></div>
                      <span>14.06.2022</span>
                    </li>
                    <li>
                      <p>Рассмотрение и оценка первых частей заявок</p>
                      <div></div>
                      <span>14.07.2022</span>
                    </li>
                    <li>
                      <p>Заключение контракта</p>
                      <div></div>
                      <span>24.07.2022</span>
                    </li>
                  </ul>
                </div>
              </div>
            </section>
          </div>
          <div class="uk-width-medium"></div>
        </div>
      </div>
    </section>

    <script src="./timeline.js"></script>
  </body>
</html>
