@import '../../uikit/styles/sass/theme/variables';

.tariff-card {
  color: var(--color-mine-shaft-900);

  .uk-card-body {
    padding: 32px;
  }

  .uk-card-footer {
    padding: 16px 32px;
    background-color: #f7fcf4;
    border-top: 1px solid var(--color-mystic-300);
  }

  .tariff-card-more {
    padding: 32px;
    border-top: 1px solid var(--color-mystic-300);
  }
}
