.footer {
  border-top: 1px solid #d0d6de;
}

.footer .uk-nav > li > a {
  padding: 0;
}

.footer .uk-nav > li:not(:last-child) {
  margin-bottom: 16px;
}

.footer-nav h4 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  color: var(--color-cerulean-500);
}

.footer-nav .uk-nav > li > a {
  color: var(--color-mine-shaft-700);
}

.footer-nav .uk-nav > li > a:hover {
  color: var(--color-cerulean-link-hover);
}

.footer a[href^="mailto:"] .uk-h3 {
  color: var(--color-cerulean-500);
}

.footer a[href^="mailto:"]:hover .uk-h3 {
  color: var(--color-cerulean-link-hover);
}

.footer-social .uk-icon {
  color: var(--color-mystic-500);
}

.footer-social a:hover > .uk-icon {
  color: var(--color-bali-hai-200);
}
