.list-news li > a > h2,
.list-news li > a > h3,
.list-news li > a > h4 {
  margin: 0;

  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-cerulean-link);
}

.list-news li > a:hover > h2,
.list-news li > a:hover > h3,
.list-news li > a:hover > h4 {
  color: var(--color-cerulean-link-hover);
}

.list-news li > a > p {
  margin: 0;
  color: var(--color-mine-shaft-900);
}

.list-news li > a > span {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--color-bali-hai-200);
}
