<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../../../styles/fabrikant-ui.min.css" />

    <script src="../../../js/uikit.min.js"></script>
    <script src="../../../js/uikit-icons-theme.min.js"></script>

    <title>Card</title>
  </head>
  <body>
    <section class="uk-section">
      <div class="uk-container">
        <h1>Card</h1>
        <div class="uk-child-width-1-3@m uk-grid-small uk-grid-match uk-margin" uk-grid>
          <div>
            <div class="uk-card uk-card-default uk-card-body">
              <h3 class="uk-card-title">Default</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
              <h3 class="uk-card-title">Default hover</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-hover-box-shadow uk-card-body">
              <h3 class="uk-card-title">Default hover box-shadow</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-primary uk-card-body">
              <h3 class="uk-card-title">Primary</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
          <div>
            <div class="uk-card uk-card-secondary uk-card-body">
              <h3 class="uk-card-title">Secondary</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
