<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../../styles/uikit.min.css" />
    <link rel="stylesheet" href="./search-bar.css" />

    <script src="../../js/uikit.min.js"></script>
    <script src="../../js/uikit-icons.min.js"></script>

    <title>Search Bar</title>
  </head>
  <body>
    <section class="uk-section">
      <div class="uk-container uk-container-expand">
        <h1>Search Bar</h1>
        <p uk-margin>
          <a
            class="uk-button uk-button-secondary uk-button-small"
            href="https://github.com/alekseykurylev/fabrikant-ui/tree/release/src/components/search-bar"
            target="_blank">
            <span class="uk-text-secondary" uk-icon="github"></span>
          </a>
          <a
            class="uk-button uk-button-secondary uk-button-small"
            href="https://www.figma.com/file/U7UjOE6T9IhuVVjgKIemh1/Fabrikant.NewLK?type=design&node-id=6291-55022&t=2sO4PA8GhqWhxZgT-4"
            target="_blank">
            <span class="uk-preserve" uk-icon="figma"></span>
          </a>
        </p>
      </div>
    </section>

    <div class="uk-margin">
      <section class="uk-section uk-padding-remove-bottom">
        <div class="uk-container uk-container-expand">
          <div class="uk-flex-bottom uk-margin-8-bottom" uk-grid>
            <div class="uk-width-expand@s">
              <h1 class="uk-margin-remove">Поиск по закупкам</h1>
            </div>
            <div class="uk-width-auto@s">
              <div class="uk-flex-middle uk-flex-between uk-grid-8" uk-grid>
                <a class="uk-flex uk-flex-middle uk-text-small" href="#extended-search" uk-toggle>
                  <span class="uk-icon-size-16 uk-margin-4-right" uk-icon="filters"></span>
                  Расширенный поиск
                </a>
                <a class="uk-flex uk-flex-middle uk-text-small uk-link-muted-bh500" href="#">
                  <span class="uk-icon-size-16 uk-margin-4-right" uk-icon="close-circle"></span>
                  Очистить
                </a>
              </div>
            </div>
          </div>
          <form>
            <div class="search-bar uk-box uk-box-16">
              <div class="uk-box-body">
                <div class="uk-child-width-auto uk-flex-middle uk-grid-small" uk-grid>
                  <div class="uk-width-expand">
                    <input
                      class="uk-input"
                      type="text"
                      placeholder="Параметры поиска: Наименование комиссии полностью или частично (не менее трёх символов)" />
                  </div>
                  <div class="uk-visible@m">
                    <div class="uk-input-group">
                      <input class="uk-input" type="text" placeholder="Дата от" />
                      <input class="uk-input" type="text" placeholder="до" />
                    </div>
                  </div>
                  <div class="uk-visible@s">
                    <div class="uk-input-group">
                      <input class="uk-input" type="text" placeholder="НМЦ от" />
                      <input class="uk-input" type="text" placeholder="до" />
                    </div>
                  </div>
                  <div>
                    <button type="button" class="uk-button uk-button-primary uk-flex uk-flex-middle">
                      <span uk-icon="search"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <div class="uk-margin">
      <section class="uk-section uk-padding-remove-bottom">
        <div class="uk-container uk-container-expand">
          <div class="uk-flex-bottom uk-margin-8-bottom" uk-grid>
            <div class="uk-width-expand@s">
              <h1 class="uk-margin-remove">Реестр опубликованных закупок по 44-ФЗ</h1>
            </div>
            <div class="uk-width-auto@s">
              <div class="uk-flex-middle uk-flex-between uk-grid-8" uk-grid>
                <a class="uk-flex uk-flex-middle uk-text-small" href="#extended-search" uk-toggle>
                  <span class="uk-icon-size-16 uk-margin-4-right" uk-icon="filters"></span>
                  Расширенный поиск
                </a>
                <a class="uk-flex uk-flex-middle uk-text-small uk-link-muted-bh500" href="#">
                  <span class="uk-icon-size-16 uk-margin-4-right" uk-icon="close-circle"></span>
                  Очистить
                </a>
              </div>
            </div>
          </div>
          <form>
            <div class="search-bar uk-box uk-box-16">
              <div class="uk-box-body">
                <div class="uk-child-width-auto uk-flex-middle uk-grid-small" uk-grid>
                  <div class="uk-width-expand">
                    <input class="uk-input" type="text" placeholder="Поиск по номеру или ключевому слову" />
                  </div>
                  <div class="uk-visible@m">
                    <div class="uk-input-group">
                      <input class="uk-input" type="text" placeholder="Дата от" />
                      <input class="uk-input" type="text" placeholder="до" />
                    </div>
                  </div>
                  <div class="uk-visible@s">
                    <div class="uk-input-group">
                      <input class="uk-input" type="text" placeholder="НМЦ от" />
                      <input class="uk-input" type="text" placeholder="до" />
                    </div>
                  </div>
                  <div class="uk-visible@l">
                    <div class="uk-flex uk-flex-column">
                      <label class="uk-checkbox-wrap uk-margin-8-bottom">
                        <input class="uk-checkbox" type="checkbox" />
                        <span class="uk-checkbox-label uk-margin-12-left">Цветовая индикация</span>
                      </label>
                      <label class="uk-checkbox-wrap uk-margin-4-bottom">
                        <input class="uk-checkbox" type="checkbox" />
                        <span class="uk-checkbox-label uk-margin-12-left">Скрыть завершённые</span>
                      </label>
                    </div>
                  </div>
                  <div>
                    <button type="button" class="uk-button uk-button-primary uk-flex uk-flex-middle">
                      <span uk-icon="search"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>

    <!-- This is the Extended Search off-canvas -->
    <div id="extended-search" uk-offcanvas="flip: true; overlay: true">
      <div class="uk-offcanvas-bar uk-flex uk-flex-column">
        <div class="uk-offcanvas-header">
          <div class="uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <h4 class="uk-h1">Расширенный поиск</h4>
            </div>
            <div class="uk-width-auto">
              <button class="uk-offcanvas-close" type="button" uk-close></button>
            </div>
          </div>
        </div>
        <div class="uk-offcanvas-body uk-width-expand" uk-overflow-auto>
          <div>
            <label class="uk-form-label uk-margin-8-bottom" for="input-1">
              По номеру извещения или ключевому слову
            </label>
            <input class="uk-input" id="input-1" type="text" placeholder="Введите значение..." aria-label="Input" />
          </div>
          <div class="uk-margin-small">
            <label class="uk-form-label uk-margin-8-bottom" for="input-2">НМЦ, руб.</label>
            <div class="uk-input-group">
              <input id="input-2" class="uk-input" type="text" placeholder="от" aria-label="от" />
              <input id="input-2-2" class="uk-input" type="text" placeholder="до" aria-label="до" />
            </div>
          </div>
          <div class="uk-margin-small">
            <label class="uk-form-label uk-margin-8-bottom" for="input-3">Дата публикации</label>
            <div class="uk-input-group">
              <input id="input-3" class="uk-input" type="text" placeholder="от" aria-label="от" />
              <input id="input-3-2" class="uk-input" type="text" placeholder="до" aria-label="до" />
            </div>
          </div>
          <div class="uk-margin-small">
            <label class="uk-form-label uk-margin-8-bottom" for="input-3">Сотрудник</label>
            <div>😎</div>
          </div>
          <hr />
          <div uk-accordion="toggle: > a; content: > div">
            <div class="uk-open">
              <a class="uk-h2 uk-margin-remove uk-flex uk-flex-middle" href="#">
                <span class="uk-flex-1 uk-margin-8-right">Способ закупки</span>
                <span uk-icon="dropdown-down"></span>
              </a>
              <div class="uk-margin-top">
                <ul class="uk-list uk-list-small uk-margin-remove">
                  <li>
                    <label class="uk-checkbox-wrap">
                      <input class="uk-checkbox uk-checkbox-large" type="checkbox" />
                      <span class="uk-checkbox-label uk-text-bold uk-margin-12-left">Все способы</span>
                    </label>
                  </li>
                  <li>
                    <label class="uk-checkbox-wrap">
                      <input class="uk-checkbox uk-checkbox-large" type="checkbox" />
                      <span class="uk-checkbox-label uk-margin-12-left">Электронный аукцион</span>
                    </label>
                  </li>
                  <li>
                    <label class="uk-checkbox-wrap">
                      <input class="uk-checkbox uk-checkbox-large" type="checkbox" />
                      <span class="uk-checkbox-label uk-margin-12-left">Электронный конкурс</span>
                    </label>
                  </li>
                  <li>
                    <label class="uk-checkbox-wrap">
                      <input class="uk-checkbox uk-checkbox-large" type="checkbox" />
                      <span class="uk-checkbox-label uk-margin-12-left">
                        Электронный конкурс в соответствии с ч.19 ст.48 44-ФЗ
                      </span>
                    </label>
                  </li>
                  <li>
                    <label class="uk-checkbox-wrap">
                      <input class="uk-checkbox uk-checkbox-large" type="checkbox" />
                      <span class="uk-checkbox-label uk-margin-12-left">Электронный запрос котировок</span>
                    </label>
                  </li>
                  <li>
                    <label class="uk-checkbox-wrap">
                      <input class="uk-checkbox uk-checkbox-large" type="checkbox" />
                      <span class="uk-checkbox-label uk-margin-12-left">Закупка товара у единственного поставщика</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr />
          <div uk-accordion="toggle: > a; content: > div">
            <div class="uk-open">
              <a class="uk-h2 uk-margin-remove uk-flex uk-flex-middle" href="#">
                <span class="uk-flex-1 uk-margin-8-right">Статус закупки</span>
                <span uk-icon="dropdown-down"></span>
              </a>
              <div class="uk-margin-top">
                <ul class="uk-list uk-list-small uk-margin-remove">
                  <li>
                    <label class="uk-checkbox-wrap">
                      <input class="uk-checkbox uk-checkbox-large" type="checkbox" />
                      <span class="uk-checkbox-label uk-text-bold uk-margin-12-left">Все статусы</span>
                    </label>
                  </li>
                  <li>
                    <label class="uk-checkbox-wrap">
                      <input class="uk-checkbox uk-checkbox-large" type="checkbox" />
                      <span class="uk-checkbox-label uk-margin-12-left">Приём заявок</span>
                    </label>
                  </li>
                  <li>
                    <label class="uk-checkbox-wrap">
                      <input class="uk-checkbox uk-checkbox-large" type="checkbox" />
                      <span class="uk-checkbox-label uk-margin-12-left">Приём предложений</span>
                    </label>
                  </li>
                  <li>
                    <label class="uk-checkbox-wrap">
                      <input class="uk-checkbox uk-checkbox-large" type="checkbox" />
                      <span class="uk-checkbox-label uk-margin-12-left">Рассмотрение первых частей заявок</span>
                    </label>
                  </li>
                  <li>
                    <label class="uk-checkbox-wrap">
                      <input class="uk-checkbox uk-checkbox-large" type="checkbox" />
                      <span class="uk-checkbox-label uk-margin-12-left">Ожидание подачи ценовых предложений</span>
                    </label>
                  </li>
                  <li>
                    <label class="uk-checkbox-wrap">
                      <input class="uk-checkbox uk-checkbox-large" type="checkbox" />
                      <span class="uk-checkbox-label uk-margin-12-left">Приём ценовых предложений</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr />
          <div>😎</div>
        </div>
        <div class="uk-offcanvas-footer">
          <div class="uk-grid-small" uk-grid>
            <div class="uk-width-expand">
              <button class="uk-button uk-button-default uk-flex uk-flex-middle uk-height-1-1" type="button">
                <span uk-icon="filters-faw"></span>
                <span class="uk-margin-8-left uk-visible@s" uk-icon="dropdown-down"></span>
              </button>
              <ul class="uk-nav" uk-drop="pos: top-left" uk-nav>
                <li class="uk-nav-header">
                  <span class="uk-text-uppercase uk-text-muted">Шаблон поиска</span>
                </li>
                <li class="uk-nav-divider"></li>
                <li>
                  <a href="#">
                    <div>
                      Только электронный аукцион
                      <div class="uk-nav-subtitle">используется по умолчанию</div>
                    </div>
                  </a>
                </li>
                <li><a href="#">ЭА и ЭК</a></li>
                <li><a href="#">Приём ценовых предложений</a></li>
                <li><a href="#">НМЦ от 100000</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#">Сохранить шаблон поиска</a></li>
                <li><a href="#">Изменить</a></li>
              </ul>
            </div>
            <div class="uk-width-auto">
              <div class="uk-flex">
                <button class="uk-button uk-button-default" type="button">
                  <span class="uk-visible@s">Очистить</span>
                  <span class="uk-hidden@s">😎</span>
                </button>
                <button class="uk-button uk-button-primary uk-margin-small-left" type="button">Применить</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
