<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet" />

    <link rel="stylesheet" href="../../styles/uikit.min.css" />
    <link rel="stylesheet" href="./navtab.css" />

    <script src="../../js/uikit.min.js"></script>
    <script src="../../js/uikit-icons.min.js"></script>

    <title>Navtab</title>
  </head>
  <body>
    <section class="uk-section">
      <div class="uk-container uk-container-small">
        <h1>Navtab</h1>
        <p uk-margin>
          <a
            class="uk-button uk-button-secondary uk-button-small"
            href="https://github.com/alekseykurylev/fabrikant-ui/tree/release/src/components/tab-bar"
            target="_blank">
            <span class="uk-text-secondary" uk-icon="github"></span>
          </a>
          <a
            class="uk-button uk-button-secondary uk-button-small"
            href="https://www.figma.com/file/U7UjOE6T9IhuVVjgKIemh1/Fabrikant.NewLK?type=design&node-id=6291-55022&t=7I8wQ2FMV15eFm2Q-4"
            target="_blank">
            <span class="uk-preserve" uk-icon="figma"></span>
          </a>
        </p>
        <p>12312312</p>
      </div>
    </section>

    <section class="uk-section">
      <div class="uk-container uk-container-small">
        <!-- This is the Navtab -->
        <div class="uk-navtab">
          <div class="uk-grid-small" uk-grid>
            <div>
              <ul class="uk-navtab-nav">
                <li>
                  <a href="#">Все</a>
                </li>
              </ul>
            </div>
            <div>
              <ul class="uk-navtab-nav">
                <li>
                  <a href="#">Все</a>
                </li>
              </ul>
            </div>
            <div>
              <ul class="uk-navtab-nav">
                <li>
                  <a href="#">Все</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="./navtab.js"></script>
  </body>
</html>
